<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PUBLIC_API_KEY</key>
	<string>51ea1917b846479e86a900bd6d2e8853</string>
	<key>PRIVATE_API_KEY</key>
	<string>72d9d04c5eaf40f91de6eb167eb37af28c0e6b31</string>
</dict>
</plist>
